.change {
    position: static;
    height: 83%;
    width: 100%;
    top: 0;
}

.change__container {
    height: 100%;
    margin: 0;
}

.change__panel {
    border-radius: 5px;
    padding: 10px;
    height: 50%;
}

.change__form {
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.change__form-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    border-bottom: 2px solid #2686FE;
}


.change__select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding-right: 30px;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
}

.change__select:focus {
    outline: none;
    border-color: #007bff;
}

.change__option {
    background-color: white;
    color: black;
    padding: 5px;
}

.change__icon {
    display: flex;
    text-align: end;
    fill: #989898;
    width: 2rem;
    height: 2rem;
}

.change__button-container {
    display: flex;
    justify-content: space-between;
    bottom: 0;
    position: absolute;
    width: 100%;
}

.change__button {
    font-size: 16px;
    border: none;
    cursor: pointer;
    padding-top: .8rem;
    padding-bottom: .8rem;
    bottom: 0;
}

.change__button--cancel {
    background-color: #dddada;
    width: 50%;
    color: black;
}

.change__button--save {
    background-color: #2686FE;
    width: 50%;
    color: white;
}

.change__panel-header {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.change__panel-body {
    margin-top: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.change__expansion {
    height: 40%;
}

.change__form-field {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.change__toggle-button {
    flex: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    text-align: center;
    font-size: .5rem;
}

.change__input {
    width: 90%;
    padding: 5px;
    border-radius: 3px;
    font-size: 1rem;
    border: none;
    outline: none;
}

.change__header-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.change__person {
    display: flex;
    flex-direction: row;
}

.change__list {
    display: flex;
    flex-direction: column;
    max-height: 200px;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 10px;
}

.change__button {
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.change__button--search {
    padding: 10px 20px;
    background-color: white;
}

.change__icon {
    width: 2rem;
    height: 2rem;
    fill: #007BFF;
    display: flex;
    text-align: end;
}